@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(0,0,0,.5);
    z-index: 10;
}

.navbar-brand{
    font-weight: 600;
}
.nav-link{
    color: white !important;
    border-bottom: 1px solid transparent;
}
.nav-link:hover{
    border-bottom: 1px solid white !important;
}

/*home section*/

section{
    width: 100%;
    min-height: 100vh;
}
#Home{
    width: 100;
    height: 100vh;
    background: linear-gradient(to right, #182848, #4b6cb7); 
    display: flex;
    align-items: center;
    color: azure;
    flex-direction: column;

}
.MyName{
    position: absolute;
    top: 35%;
    align-items: left;
    font-size: 80px;
    background-image: linear-gradient(43deg,#4158D0 0%, #C850C0 46%, #FFCC70 100%);    
    -webkit-background-clip: text;
    color: transparent;

}
#Home p{
    position: absolute;
    top: 50%;
    font-size: 80px;
    opacity: 0;
    animation: text 3s linear infinite;
}

/*#Home p:nth-child(1){
    animation-delay: 0s;
}
#Home p:nth-child(2){
    animation-delay: 3s;
}
#Home p:nth-child(3){
    animation-delay: 6s;
}*/

#Home span{
    color: #32C112;
}

@keyframes text{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

@media screen and (max-width:576px) {
    #Home p{
        font-size: 40px;
        bottom: 50%;
    }
    .MyName{
        font-size: 35px;
        bottom: 30%;
    }
    
}

/*About section*/

#About{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2BAE66;
}
.circle{
    width: 350px;
    height: 350px;
    background-color: #7D7098;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 5px 12px rgba(0,0,0,.7);
    margin-bottom: 3%;
    margin-top: 8%;
    transition: 1s;

}
.circle img{
    position: absolute;
    height: 350px;
    top: -18%;
    left: 11%;
    border-radius: 10%;
    filter: drop-shadow(0px 30px 15px rgba(0,0,0,.4));
    transition: 1s;
}
.circle:hover{
    width: 700px;
    height: 600px;
    border-radius: 10px;
    transition: 1s;
}
.circle:hover img{
    position: absolute;
    top: 2%;
    left: 3%;
    transition: 1s;
}
.circle:hover .content{
    position: absolute;
    top: 30%;
    right: 0;
    color: white;
    width: 50%;
    opacity: 1;
    transition: 1s;
}
.circle .content{
    opacity: 0;
}

@media screen and (max-width:576px) {
    .circle{
        width: 350px;
        height: 350px;
        background-color: rgb(6, 123, 132);
        border-radius: 50%;
        position: relative;
        box-shadow: 0px 5px 12px rgba(0,0,0,.7);
        margin-bottom: 3%;
        margin-top: 8%;
        transition: 1s;
    
    }
    .circle:hover img{
        position: absolute;
        top: 2%;
        left: 11%;
        transition: 1s;
    }
    .circle:hover{
        width: 400px;
        height: 700px;
        border-radius: 10px;
        transition: 1s;
    }
    .circle:hover .content{
        position: absolute;
        top: 50%;
        right: 0;
        color: white;
        padding: 10%;
        width: 100%;
        opacity: 1;
        transition: 1s;
    }
    .circle .content{
        opacity: 0;
    }
    
}

/*MY SKILLS*/

#Skills{
    padding-top: 5%;
    background: #D0D3D4;
}
#Skills .container{
    margin-top: 6%;
    margin-bottom: 6%;
}
label{
    font-size: 20px;
}
.progress{
    height: 20px !important; 
    box-shadow: 2px 4px 5px gray;
}

/* @media screen and (max-width:576px) {
    
} */

/*PROJECT*/

.card{
    transition: all 0.30s;
}
.card:hover{
    transform: translate(-5px, -10px);
}

/*EDUACTION*/

#Education{
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    min-height: 100vh;
    padding: 100px 15px;
}
h1{
    text-align: center;
    padding-bottom: 50px;
}
.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2f363e;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;

}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);

}
.timeline-dot{
    height: 16px;
    width: 16px;
    background-color: #eaa023;
    position: absolute;
    left: 50%;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 5px;
}
.timeline-date{
    font-size: 18px;
    color: #eaa023;
}
.timeline-content{

    padding: 20px;
    border-radius: 5px;
    margin: 6px 0 15px ;
    transition: all 0.30s;
}
.timeline-content:hover{
    transform: scale(1.15);
}
.timeline-content h3{
       font-size: 20px;
       color: #ffff;
       margin: 0 0 15px;
       text-transform: capitalize;
       font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/*responsive*/

@media(max-width: 767px){
    .timeline-items::before{
       left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
}



/*CONTACT*/

#contact{
    padding-top: 7%;
    background: linear-gradient(to bottom,#2b5876, #4e4376);

}

.button{
    text-align: center;
    margin-top: 5%;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FOOTER*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #111;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.2s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.2s;
}

.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    font-size: 1.3em;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.3s;
}

.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: whitesmoke;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px ;
}

@media (max-width: 576px) {
    .footerNav ul{
        flex-direction: column;
        align-items: center;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    
}